# Sites di destinazione dei backup
SITES=("MI" "MC")
# Lista dei docker compose da escludere
EXCLUDE_LIST="network iot"
# Se false → non ferma i container - Solo per primo upload
STOP_DOCKER=true
# Frequenza di full backup
FREQUENCY=14
